.navbar-brand {
    float: right !important;
    margin-right: 0;
    text-align: right;
}

.ml-auto {
    padding-right: 60%!important;
}
#mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    right: 0 !important;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
    text-align: right;
    display: none !important;
}
#mainNav .navbar-collapse .navbar-sidenav {
    position:absolute;
    left:80%;
    margin-top: 56px;
    text-align: right;
}
.content-wrapper {
    margin-right: 20%;
    overflow:hidden;
    background:white;
    margin-left:  0;
    
}

footer.sticky-footer {
    position: absolute;
    left: 0;
    right: 266px;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
}

/* Setting Page */
label {
    float:right;
}

.btn {
    width:200px;
    display:block;
}

.table thead th {
    text-align: center;
}
.dropdown-header {
    white-space: normal;
    font-size: 12px;
}
.navbar-nav .dropdown-menu {
    font-size: 12px;
}
.navbar-brand {
    float: right !important;
    margin-right: 0;
    text-align: right;
}

.ml-auto {
    padding-right: 60%;
}
#mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    right: 0 !important;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
    text-align: right;
    display: none !important;
}
#mainNav .navbar-collapse .navbar-sidenav {
    position:absolute;
    left:80%;
    margin-top: 56px;
    text-align: right;
}
.content-wrapper {
    margin-right: 20%;
    overflow:hidden;
    background:white;
    margin-left:  0;
    
}

footer.sticky-footer {
    position: absolute;
    left: 0;
    right: 20%;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
}

/* Setting Page */
label {
    float:right;
}

.btn {
    width:200px;
    display:block;
}

.table thead th {
    text-align: center;
}
.dropdown-header {
    white-space: normal;
    font-size: 12px;
}
.navbar-nav .dropdown-menu {
    font-size: 12px;
}
