


/* General */

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}

select{
  font-family: FontAwesome, sans-serif;
}
/* End of General */
.item .item-header {
    text-align: center;
    padding: 4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e9ecef;
}
.center {
    text-align: center;
}

.li {
    text-align: center;
    background: #e9ecef;
    padding: 8px;
    border-bottom: 2px solid #dad3d3;
    margin-bottom: 2px;
}

.li a {
    text-decoration: none;
}
.table-responsive {
    margin-top: 20px;
}
/* Main - slider */

/*.wrapper {
    height: 400px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #989a9c;
    margin-bottom: 15px;
}
*/

.item-collapse a {
    padding: 5px 93px;
    background: #e9ecef;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px;
}

.item-collapse .panel-title {
    margin-bottom: 20px;
}
/* End off Main - slider */

/* Add service */
.fontaw {
    width: 15%;
}

/* End of Add service */

/* Most popular */
#e1 {
    width: 100%;
    margin-bottom: 10px;
}

/* End of Most popular*/


#img_contain{
    border: 1px solid grey;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
  
}

#imgInp{
  padding: 10px;
  width: 100%;
  border: 2px solid #808080;
  
}
#blah{
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 100%;    
}