
* {
    font-family: 'Cairo', sans-serif;
}

button, input, select, textarea, h3 {
    font-family: 'Cairo', sans-serif !important;
}


/* Main */
.logo {
    float: right;
}

.top-nav {
    float: left;
    margin-top: 3px;
}


.ser-grid {
    float: right;
}

.ser-top {
    float: left;
    width: 77%;
}

.bottom-head h6 {
    font-family: 'Cairo', sans-serif !important;
}
.ser-top h4 {
    font-family: 'Cairo', sans-serif !important;
}

.bold {
    font-weight: bold;
    color: #000;
    width: 200px;
}

.main-logo {
    height: 63px ;
    width: 180px ;
}

ul.right-icons {
    line-height: 50px;
}
.right-icons li span{
    display: block;
}
.banner1{
    background-repeat: no-repeat !important;
    background-position: center !important; 
    width:100% !important;
    min-height: 550px !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}
.banner2{
    background-repeat: no-repeat !important;
    background-position: center !important; 
    width:100% !important;
    min-height: 550px !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}
.banner3{
    background-repeat: no-repeat !important;
    background-position: center !important; 
    width:100% !important;
    min-height: 550px !important;
    background-size: cover !important ;
    -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}


.radius-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.img-units {
    height: 262px;
    width: 100%;
}

.content-middle {
    background: url(../images/sb1.jpg) no-repeat center;
    width: 100%;
    min-height: 250px;
    display: block;
    background-size: cover;
}

 .part-img {
    max-width: 100px;
    max-height: 50px;
 }

.dealer-top h4 {
    font-family: 'Cairo', sans-serif !important;
}

.middle-side h4 {
    font-family: 'Cairo', sans-serif !important;
}
.buy-sin h4 {
    font-family: 'Cairo', sans-serif !important;
}
.future h3 {
    font-family: 'Cairo', sans-serif !important;
}

 /* Single page (Unit) */

 .flexslider .slides img {
    height: 400px !important;
}

.flex-control-thumbs img {
    height: 100px !important;
}

.box-img img {
    height: 75px;
    width: 150px;
}

.nbs-flexisel-item {
    height: 335px !important;
}
.project-fur img {
    height: 170px !important;
    width: 100%;
}

.banner-buying h3 {
    font-family: 'Cairo', sans-serif !important;
    float: right;
}
/* End of single page (Unit) */


/* Units page */
.top-deal1 {
    float: right !important;
}

.top-deal2 {
    float: left !important;
}

/* End of Units page */

.nbs-flexisel-item {
    float: right !important;
}