

* {

	font-family: 'Cairo', sans-serif;
}

.bold {

	font-weight: bold;

	color: #000;

	width: 200px;

}

.btn {
	transition: 0.7s;
}

/* Navbar */

@media (max-width:768px) {
	  .right-icons li span, .right-icons li a {
		margin: 0;
	}
	ul.right-icons {
		line-height: 12px;
		font-size: 15px;
	}

}

.right-icons li span, .right-icons li a  {
    display: inline !important;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin: 0 0.3em;
}

/* End of Navbar */



.main-logo {

	height: 63px ;

    width: 180px ;

}



ul.right-icons {

    line-height: 50px;

}

.right-icons li span{

	display: block;

}

.banner1{

	background-repeat: no-repeat !important;

	background-position: center !important; 

	width:100% !important;

	min-height: 550px !important;

	background-size: cover !important;

	-webkit-background-size: cover !important;

  -moz-background-size: cover !important;

  -o-background-size: cover !important;

}

.banner2{

	background-repeat: no-repeat !important;

	background-position: center !important; 

	width:100% !important;

	min-height: 550px !important;

	background-size: cover !important;

	-webkit-background-size: cover !important;

  -moz-background-size: cover !important;

  -o-background-size: cover !important;

}

.banner3{

	background-repeat: no-repeat !important;

	background-position: center !important; 

	width:100% !important;

	min-height: 550px !important;

	background-size: cover !important ;

	-webkit-background-size: cover !important;

  -moz-background-size: cover !important;

  -o-background-size: cover !important;

}





.radius-top {

    border-top-right-radius: 20px;

    border-top-left-radius: 20px;

}

.img-units {

	height: 262px;

    width: 100%;

}



.content-middle {

    background: url(../images/sb1.jpg) no-repeat center;

    width: 100%;

    min-height: 250px;

    display: block;

    background-size: cover;

}



 .part-img {

    max-width: 100px;

    max-height: 50px;

 }



.app_pagination >.pagination > .active > a, 
.app_pagination >.pagination > .active > span, .pagination > .active > a:hover, 
.app_pagination >.pagination > .active > span:hover, .pagination > .active > a:focus, 
.app_pagination >.pagination > .active > span:focus 
{

    background-color: #27da93;
    border-color: #27da93;
}

.app_pagination >.pagination > li > a:hover,
.app_pagination >.pagination > li > span:hover,
.app_pagination >.pagination > li > a:focus, 
.app_pagination >.pagination > li > span:focus 
{
    color: #27da93;
    background-color: #eee;
    border-color: #ddd;
}

/* Index */
.banner-bottom-top {
    background-color: #fff !important;
}

.most-1 {
    height: 135px !important;
    overflow: hidden;
}

.search-aqar {
	padding: 50px;
	background: #fff;
}
.select-block {
	margin-bottom: 20px;
}


/* End of index */


 /* Single page (Unit) */



 .flexslider .slides img {

    height: 400px !important;

}



.flex-control-thumbs img {

	height: 100px !important;

}



.box-img img {

    height: 75px;

    width: 150px;

}



.nbs-flexisel-item {

	height: 335px !important;

}

.project-fur img {

	height: 170px !important;

	width: 100%;

}


banner-buying h3 {
    float: right !important;
}

/* End of single page (Unit) */



.contact-right input, .contact-right textarea {
    border-color: #464545 !important;
}



/* Footer */

.footer-top-at ul.nav-bottom li {
    color: #fff !important;
}
.footer-top-at ul.nav-bottom li a {
	color: #fff !important;
}

.footer .fa {
    font-size: 16px;
    padding: 8px;
    color: #ffffff;
}
/* End of Footer */